@import "tailwindcss";

body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .grey-background {
    background: linear-gradient(90deg, #4b5563, #6b7280, #d1d5db); /* Gradasi abu-abu */
    background-size: 300% 300%;
    animation: gradientShift 5s ease-in-out infinite;
  }

  .saving-progress-bar {
    height: 20px;
    background: linear-gradient(90deg, #4b7bff, #1100ff, #4b63ff);
    background-size: 200% 100%;
    animation: shimmer 1.2s infinite linear;
    z-index: 9999;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  
  
  